In [152]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")
import time
start = time.time()
import lightgbm 
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score
from sklearn.model_selection import RandomizedSearchCV

In [93]:
df1 = pd.read_csv('Columbia_table_1.csv',index_col=0)
df2 = pd.read_csv('Puma_table_1.csv',index_col=0)
df3 = pd.read_csv('Woodland_table_1.csv',index_col=0)
df4 = pd.read_csv('Sketchers_table_1.csv',index_col=0)

In [94]:
df1.head()

,name,category,No. of colors,price
0,\r\n Columbia Wom...,men,2,"10,999"
1,\r\n Columbia Wom...,men,2,"10,999"
2,\r\n Columbia Men...,men,0,"14,999"
3,\r\n Columbia Men...,men,0,"14,999"
4,\r\n Columbia Wom...,men,2,"10,999"

In [95]:
df_1 = pd.concat([df1,df2,df3,df4])

In [96]:
df_1.head()

,name,category,No. of colors,price
0,\r\n Columbia Wom...,men,2,"10,999"
1,\r\n Columbia Wom...,men,2,"10,999"
2,\r\n Columbia Men...,men,0,"14,999"
3,\r\n Columbia Men...,men,0,"14,999"
4,\r\n Columbia Wom...,men,2,"10,999"

In [97]:
df_1.shape

(88, 4)

In [84]:
df_3 = df_3.drop("Unnamed: 0", axis=1)

In [98]:
df1 = pd.read_csv('Columbia_table_2.csv',index_col=0)
df2 = pd.read_csv('Puma_table_2.csv',index_col=0)
df3 = pd.read_csv('Woodland_table_2.csv',index_col=0)
df4 = pd.read_csv('Sketchers_table_2.csv',index_col=0)

In [99]:
df_2 = pd.concat([df1,df2,df3,df4])

In [100]:
df_2.shape

(88, 3)

In [101]:
df_2.head()

   count_of_size                                 colors         stylecode
0             10  Black, Graphite|Sea Salt, Light Cloud  SKU : BL9797-010
1             10  Black, Graphite|Sea Salt, Light Cloud  SKU : BL9797-010
2             12                                    NaN  SKU : BM9083-373
3             12                                    NaN  SKU : BM9083-373
4             10  Black, Graphite|Sea Salt, Light Cloud  SKU : BL9797-125

In [102]:
df1 = pd.read_csv('Columbia_table_3.csv',index_col=0)
df2 = pd.read_csv('Puma_table_3.csv',index_col=0)
df3 = pd.read_csv('Woodland_table_3.csv',index_col=0)
df4 = pd.read_csv('Sketchers_table_3.csv',index_col=0)

In [103]:
df_3 = pd.concat([df1,df2,df3,df4])

In [104]:
df_3.head()

,reviews,size,comfort,performance,star_rating
0,NaN,UK-4|\n\n\r\n ...,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews
1,NaN,UK-4|\n\n\r\n ...,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews
2,NaN,UK-6|\n\n\r\n ...,\n\r\n TRAIL TO STRE...,\n\nFeatures \nAdapt Trax outsole provides exc...,0 reviews
3,NaN,UK-6|\n\n\r\n ...,\n\r\n TRAIL TO STRE...,\n\nFeatures \nAdapt Trax outsole provides exc...,0 reviews
4,NaN,UK-4|\n\n\r\n ...,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews

In [105]:
df_1.shape,df_2.shape,df_3.shape,

((88, 4), (88, 3), (88, 5))

In [106]:
df_1.columns,df_2.columns,df_3.columns

(Index(['name', 'category', 'No. of colors', 'price'], dtype='object'),
 Index(['count_of_size', 'colors', 'stylecode'], dtype='object'),
 Index(['reviews', 'size', 'comfort', 'performance', 'star_rating'], dtype='object'))

In [246]:
df = pd.concat([df_1,df_2,df_3], axis=1)

In [247]:
df.shape

(88, 12)

In [248]:
df.head()

,name,category,No. of colors,price,count_of_size,colors,stylecode,reviews,size,comfort,performance,star_rating
0,\r\n Columbia Wom...,men,2,"10,999",10,"Black, Graphite|Sea Salt, Light Cloud",SKU : BL9797-010,NaN,UK-4|\n\n\r\n ...,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews
1,\r\n Columbia Wom...,men,2,"10,999",10,"Black, Graphite|Sea Salt, Light Cloud",SKU : BL9797-010,NaN,UK-4|\n\n\r\n ...,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews
2,\r\n Columbia Men...,men,0,"14,999",12,NaN,SKU : BM9083-373,NaN,UK-6|\n\n\r\n ...,\n\r\n TRAIL TO STRE...,\n\nFeatures \nAdapt Trax outsole provides exc...,0 reviews
3,\r\n Columbia Men...,men,0,"14,999",12,NaN,SKU : BM9083-373,NaN,UK-6|\n\n\r\n ...,\n\r\n TRAIL TO STRE...,\n\nFeatures \nAdapt Trax outsole provides exc...,0 reviews
4,\r\n Columbia Wom...,men,2,"10,999",10,"Black, Graphite|Sea Salt, Light Cloud",SKU : BL9797-125,NaN,UK-4|\n\n\r\n ...,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews

In [249]:
df.shape

(88, 12)

In [250]:
df.dtypes

name              object
category          object
No. of colors      int64
price             object
count_of_size      int64
colors            object
stylecode         object
reviews          float64
size              object
comfort           object
performance       object
star_rating       object
dtype: object

In [251]:
df['category'].value_counts()

men      30
men'S    24
MEN      20
Mens     14
Name: category, dtype: int64

In [252]:
# Define a mapping for replacement
category_mapping = {'men': 'man', "men'S": 'man', 'MEN': 'man', 'Mens': 'man'}

# Replace values in the 'category' column
df['category'] = df['category'].replace(category_mapping)

In [253]:
df['name'] = df['name'].str.replace(r'\r\n\s+', '', regex=True)

In [254]:
df['price'] = pd.to_numeric(df['price'].replace('[^0-9.]', '', regex=True), errors='coerce')

In [255]:
df['size'] = df['size'].str.replace(r'\n', '').str.replace(r'\s+', ' ').str.replace(r'UK-', '').str.replace(r'\s*\|\s*', '|')

In [256]:
df['rating'] = df['star_rating'].str.extract(r'(\d+(\.\d+)?)', expand=False)[0]

# Convert the 'rating' column to numeric
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

In [257]:
df.head()

,name,category,No. of colors,price,count_of_size,colors,stylecode,reviews,size,comfort,performance,star_rating,rating
0,Columbia Women Black MINX SLIP IV Water Resist...,man,2,10999.0,10,"Black, Graphite|Sea Salt, Light Cloud",SKU : BL9797-010,NaN,4|4|5|5|6|6|7|7|8|8,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews,0.0
1,Columbia Women Black MINX SLIP IV Water Resist...,man,2,10999.0,10,"Black, Graphite|Sea Salt, Light Cloud",SKU : BL9797-010,NaN,4|4|5|5|6|6|7|7|8|8,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews,0.0
2,Columbia Men Green EXPEDITIONIST SHIELD Water ...,man,0,14999.0,12,NaN,SKU : BM9083-373,NaN,6|6|7|7|8|8|9|9|10|10|11|11,\n\r\n TRAIL TO STRE...,\n\nFeatures \nAdapt Trax outsole provides exc...,0 reviews,0.0
3,Columbia Men Green EXPEDITIONIST SHIELD Water ...,man,0,14999.0,12,NaN,SKU : BM9083-373,NaN,6|6|7|7|8|8|9|9|10|10|11|11,\n\r\n TRAIL TO STRE...,\n\nFeatures \nAdapt Trax outsole provides exc...,0 reviews,0.0
4,Columbia Women White MINX SLIP IV Water Resist...,man,2,10999.0,10,"Black, Graphite|Sea Salt, Light Cloud",SKU : BL9797-125,NaN,4|4|5|5|6|6|7|7|8|8,"\n\r\n CLASSIC, WATE...",\n\nFeatures \nOmni-Grip non-marking traction ...,0 reviews,0.0

In [258]:
df.isnull().sum()

name              0
category          0
No. of colors     0
price             0
count_of_size     0
colors            4
stylecode         0
reviews          88
size             24
comfort           0
performance       0
star_rating      20
rating           44
dtype: int64

In [270]:
df.dtypes

name              object
category          object
No. of colors      int64
price            float64
count_of_size      int64
colors            object
stylecode         object
reviews          float64
size              object
comfort           object
performance       object
star_rating       object
rating           float64
dtype: object

In [268]:
df['star_rating'] = df['star_rating'].astype(str)

In [233]:
df.drop_duplicates(inplace=True)

In [234]:
df.duplicated().sum()

0

In [235]:
column_to_drop = 'star_rating'
df = df.drop(column_to_drop, axis=1)

In [237]:
test = df[df.rating.isnull()]
train = df[~df.rating.isnull()]

In [238]:
X = train.loc[:,train.columns!='rating']
y = train.loc[:,train.columns=='rating']

In [239]:
from sklearn.model_selection import train_test_split

In [240]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [241]:
from sklearn.linear_model import LogisticRegression

In [242]:
lr = LogisticRegression()

In [243]:
X_train.shape, y_train.shape,X_test.shape,y_test.shape

((27, 10), (27, 1), (7, 10), (7, 1))

In [272]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200,min_samples_leaf=20, max_features=0.5,n_jobs=-1)
rf.fit(X_train,y_train)
rf.score(X_train,y_train),rf.score(X_test,y_test)

ValueError: could not convert string to float: 'man'

In [216]:
df['name'].value_counts()

Suede Classic XXI Sneakers                                                            7
GO RUN PERSISTENCE                                                                    4
GO RUN RIDE 11                                                                        2
MAX CUSHIONING ELITE - ADVANT                                                         2
GO RUN MAX ROAD 6                                                                     2
GO RUN PURE 3                                                                         2
GO RUN PURE 4                                                                         2
GO RUN ELEVATE - UPRAISE                                                              2
MAX CUSHIONING ARCH FIT - SWI                                                         2
RS-XK Sneakers                                                                        2
White/Blue Sports Shoes for Men                                                       1
White/Black Sports Shoe for Men                                                       1
Grey Slip-on Shoe for Men                                                             1
Lgrey/Orange Sports Shoes for Men                                                     1
Woodland Red sneakers                                                                 1
Black Sports Shoes for Men                                                            1
Navy sneakers for Men                                                                 1
Black Fabric Luxury Sports Shoes                                                      1
Columbia Women Black MINX SLIP IV Water Resistant Shoes                               1
Blue sneakers for men                                                                 1
White Fabric Luxury Sports Shoes                                                      1
Teal Sneaker for men                                                                  1
GO RUN SPEED BEAST                                                                    1
MAX CUSHIONING DELTA                                                                  1
MAX CUSHIONING ARCH FIT - UNI                                                         1
POWER - VOLT                                                                          1
GO RUN RAZOR 4                                                                        1
Dgrey Slip-on Shoe for Men                                                            1
Snaype casual sneaker for men                                                         1
Columbia Men Green EXPEDITIONIST SHIELD Water Resistant Shoes                         1
Future Rider Play On Men's Sneakers                                                   1
Columbia Women White MINX SLIP IV Water Resistant Shoes                               1
Columbia Men Grey CRESTWOOD MID Water Resistant Shoes                                 1
Columbia Men Brown Crestwood Water Resistant Shoes                                    1
Columbia Women White TRAILSTORM Water Resistant Shoes                                 1
Columbia Women Black TRAILSTORM MID OMNI HEAT Water Resistant Shoes                   1
Columbia Men Blue PEAKFREAK X2 OUTDRY (Complete Waterproof)                           1
Columbia Women Red PEAKFREAK X2 OUTDRY (Complete Waterproof)                          1
Columbia Women Grey TRAILSTORM PEAK MID                                               1
Scoot Zeros Georgia Peach Men's Basketball Shoes                                      1
PUMA HOOPS x GREMLINS All Pro NITRO Men's Basketball Shoes                           1
PUMA x SPARCO Future Cat OG Driving Shoes                                             1
Grey slip-on shoe for men                                                             1
Speedcat Shield SD Driving Shoes                                                      1
PUMA x LAMELO BALL RS-X Pocket LaFranc Men's Sneakers                                1
Roma Classic Gum Sneakers                                                             1
Deviate NITRO 2 Men's Running Shoes                                                  1
Black Slip-on Shoe for Men                                                            1
Navy Slip-on Shoe for Men                                                             1
White Sneakers for Men                                                                1
Navy Sports Shoe for Men                                                              1
Black Sneaker for Men                                                                 1
Black/Lgrey Slip Shoe for Men                                                         1
MAX CUSHIONING PREMIER 2                                                              1
Name: name, dtype: int64

In [215]:
# Drop rows where 'name' is equal to the specified value
df = df[df['name'] != "Voltaic Evo Running Shoe"]

# Reset index after dropping rows
df = df.reset_index(drop=True)